<?xml version="1.0"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.fidemapps.gimbal" version="0.0.1">
    <name>Gimbal Integration</name>
    <description>Install Gimbal in your app for proximity feature.</description>
    <license>Unknown</license>

    <js-module src="www/gimbal.js" name="Gimbal">
        <clobbers target="window.gimbal"/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="CBGimbal">
                <param name="ios-package" value="CBGimbal"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>bluetooth-central</string>
                <string>bluetooth-peripheral</string>
            </array>
        </config-file>

        <header-file src="src/ios/CBGimbal.h"/>
        <source-file src="src/ios/CBGimbal.m"/>
        <header-file src="src/ios/Transmitter.h"/>
        <source-file src="src/ios/Transmitter.m"/>

        <framework src="libz.dylib"/>
        <framework src="lib/ios/NetworkServices.embeddedframework/NetworkServices.framework" custom="true"/>
        <framework src="Security.framework"/>
        <framework src="CoreLocation.framework"/>

        <framework src="lib/ios/FYX.framework" custom="true"/>
        <framework src="CoreBluetooth.framework"/>
        <framework src="UIKit.framework"/>

        <framework src="lib/ios/Common.embeddedframework/Common.framework" custom="true"/>
        <framework src="Foundation.framework"/>
        <framework src="CoreGraphics.framework"/>

    </platform>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CBGimbal">
                <param name="android-package" value="com.gimbal.GimbalPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.gimbal.service.ProximityService" android:exported="false">
                <intent-filter>
                    <action android:name="com.fidemapps.demo.mobile"/>
                </intent-filter>
            </service>
        </config-file>

        <source-file src="src/android/libs/android-dev-logging.jar" target-dir="libs/"/>
        <source-file src="src/android/libs/gimbal-proximity.jar" target-dir="libs/"/>
        <source-file src="src/android/libs/spring-android-core-1.0.1.RELEASE.jar" target-dir="libs/"/>
        <source-file src="src/android/libs/spring-android-rest-template-1.0.1.RELEASE.jar" target-dir="libs/"/>

        <source-file src="src/android/GimbalPlugin.java" target-dir="src/com/gimbal"/>
        <source-file src="src/android/VisitManagerHandler.java" target-dir="src/com/gimbal"/>
        <source-file src="src/android/TransmitterAttributes.java" target-dir="src/com/gimbal"/>

    </platform>


</plugin>
