<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Versions</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>App Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>app_version</string>
			<key>DefaultValue</key>
			<string>0.6.1</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SDK Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>sdk_version</string>
			<key>DefaultValue</key>
			<string>0.6.1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Application UUID</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>fyx-uuid-key</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Server URL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string>fyx-site-url-key</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Config Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>15</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>age_out_period</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Age Out Period (in sec.)</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>RSSI Bar Max Value</string>
			<key>Key</key>
			<string>rssi_bar_max_value</string>
			<key>DefaultValue</key>
			<string>-60</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>RSSI Bar Min Value</string>
			<key>Key</key>
			<string>rssi_bar_min_value</string>
			<key>DefaultValue</key>
			<string>-90</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Beacon Scan</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>V1</string>
			<key>Key</key>
			<string>scan-v1-beacon</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>V2 Unencrypted</string>
			<key>Key</key>
			<string>scan-v2u-beacon</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>V2</string>
			<key>Key</key>
			<string>scan-v2-beacon</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>V3</string>
			<key>Key</key>
			<string>scan-v3-beacon</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
